<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsl.custombox.authentication.mapper.UserInfoMapper">
    <sql id="userInfoColumns">
        `id`,
        `username`,
        `account_name`,
        `password`,
        `email`,
        `phone`,
        `login_type`,
        `login_time`,
        `access_token`,
        `refresh_token`,
        `status`,
        `admin`,
        `deleted`,
        `insert_time`,
        `update_time`
    </sql>

    <select id="queryAll" resultType="com.zsl.custombox.authentication.model.pojo.login.UserInfo">
        select
        <include refid="userInfoColumns"></include>
        from
        user_info
    </select>


    <select id="queryById" resultType="com.zsl.custombox.authentication.model.pojo.login.UserInfo">
        select
        <include refid="userInfoColumns"></include>
        from
        user_info
        where
        id = #{id}
    </select>

    <select id="queryByUsername" resultType="com.zsl.custombox.authentication.model.pojo.login.UserInfo">
        select
        <include refid="userInfoColumns"></include>
        from
        user_info
        where
        username = #{username}
    </select>

    <select id="queryByEmail" resultType="com.zsl.custombox.authentication.model.pojo.login.UserInfo">
        select
        <include refid="userInfoColumns"></include>
        from
        user_info
        where
        email = #{email}
    </select>

    <select id="queryByPhone" resultType="com.zsl.custombox.authentication.model.pojo.login.UserInfo">
        select
        <include refid="userInfoColumns"></include>
        from
        user_info
        where
        phone = #{phone}
    </select>

    <insert id="insert">
        insert into
        <trim prefix="user_info(" suffix=")" suffixOverrides=",">
            <if test="userInfo.username != null and userInfo.username != ''">
                username
            </if>
            <if test="userInfo.accountName != null and userInfo.accountName != ''">
                account_name
            </if>
            <if test="userInfo.password != null and userInfo.password != ''">
                password
            </if>
            <if test="userInfo.email != null and userInfo.email != ''">
                email
            </if>
            <if test="userInfo.phone != null and userInfo.phone != ''">
                phone
            </if>
            <if test="userInfo.loginType != null">
                login_type
            </if>
            <if test="userInfo.loginTime != null">
                login_time
            </if>
            <if test="userInfo.accessToken != null and userInfo.accessToken != ''">
                access_token
            </if>
            <if test="userInfo.refreshToken != null and userInfo.refreshToken != ''">
                refresh_token
            </if>
            <if test="userInfo.status != null">
                status
            </if>
            <if test="userInfo.admin != null">
                admin
            </if>
            <if test="userInfo.deleted != null">
                deleted
            </if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="userInfo.username != null and userInfo.username != ''">
                #{username}
            </if>
            <if test="userInfo.accountName != null and userInfo.accountName != ''">
                #{accountName}
            </if>
            <if test="userInfo.password != null and userInfo.password != ''">
                #{password}
            </if>
            <if test="userInfo.email != null and userInfo.email != ''">
                #{email}
            </if>
            <if test="userInfo.phone != null and userInfo.phone != ''">
                #{phone}
            </if>
            <if test="userInfo.loginType != null">
                #{loginType}
            </if>
            <if test="userInfo.loginTime != null">
                #{loginTime}
            </if>
            <if test="userInfo.accessToken != null and userInfo.accessToken != ''">
                #{accessToken}
            </if>
            <if test="userInfo.refreshToken != null and userInfo.refreshToken != ''">
                #{refreshToken}
            </if>
            <if test="userInfo.status != null">
                #{status}
            </if>
            <if test="userInfo.admin != null">
                #{admin}
            </if>
            <if test="userInfo.deleted != null">
                #{deleted}
            </if>
        </trim>
    </insert>

    <update id="updateById">
        update user_info
        <set>
            <if test="userInfo.username != null and userInfo.username != ''">
                username = #{userInfo.username}
            </if>
            <if test="userInfo.accountName != null and userInfo.accountName != ''">
                account_name = #{userInfo.accountName}
            </if>
            <if test="userInfo.password != null and userInfo.password != ''">
                password = #{userInfo.password}
            </if>
            <if test="userInfo.email != null and userInfo.email != ''">
                email = #{userInfo.email}
            </if>
            <if test="userInfo.phone != null and userInfo.phone != ''">
                phone = #{userInfo.phone}
            </if>
            <if test="userInfo.loginType != null">
                login_type = #{userInfo.loginType}
            </if>
            <if test="userInfo.loginTime != null">
                login_time = #{userInfo.loginTime}
            </if>
            <if test="userInfo.accessToken != null and userInfo.accessToken != ''">
                access_token = #{userInfo.accessToken}
            </if>
            <if test="userInfo.refreshToken != null and userInfo.refreshToken != ''">
                refresh_token = #{userInfo.refreshToken}
            </if>
            <if test="userInfo.status != null">
                status = #{userInfo.status}
            </if>
            <if test="userInfo.admin != null">
                admin = #{userInfo.admin}
            </if>
            <if test="userInfo.deleted != null">
                deleted = #{userInfo.deleted}
            </if>
        </set>
        where id = #{userInfo.id}
    </update>

    <delete id="deleteById">
        update user_info
        set deleted = 1
        where id = #{id}
    </delete>
</mapper>